<head>
<title>Google Calendar API Quickstart</title>
<link rel="stylesheet" href="{{url_for('static', filename='buttons.css')}}">
<meta charset="utf-8" />
<script type="text/javascript" src="display.js"></script>
</head>
<body>
<div style="width: 100%;">
    <div style="width: 50%; height: 100%; float: left;">
    <div class="calendar">
    <div class="calendar__picture">
        <h2>3, Tuesday</h2>
        <h3>May</h3>
    </div>
    <div class="calendar__date">
        <div class="calendar__day">M</div>
        <div class="calendar__day">T</div>
        <div class="calendar__day">W</div>
        <div class="calendar__day">T</div>
        <div class="calendar__day">F</div>
        <div class="calendar__day">S</div>
        <div class="calendar__day">S</div>
        <div class="calendar__number">2</div>
        <div class="calendar__number">3</div>
        <div class="calendar__number">4</div>
        <div class="calendar__number">5</div>
        <div class="calendar__number">6</div>
        <div class="calendar__number">7</div>
        <div class="calendar__number">8</div>
        <div class="calendar__number">9</div>
        <div class="calendar__number_today">10</div>
        <div class="calendar__number">11</div>
        <div class="calendar__number">12</div>
        <div class="calendar__number">13</div>
        <div class="calendar__number">14</div>
        <div class="calendar__number">15</div>
        <div class="calendar__number">16</div>
        <div class="calendar__number">17</div>
        <div class="calendar__number">18</div>
        <div class="calendar__number">19</div>
        <div class="calendar__number">20</div>
        <div class="calendar__number">21</div>
        <div class="calendar__number">22</div>
        <div class="calendar__number">23</div>
        <div class="calendar__number">24</div>
        <div class="calendar__number">25</div>
        <div class="calendar__number">26</div>
        <div class="calendar__number">27</div>
        <div class="calendar__number">28</div>
        <div class="calendar__number">29</div>
        <div class="calendar__number">30</div>
        <div class="calendar__number">31</div> 
    </div>
    </div>
    </div>
    <!--<iframe id="calframe" src="cal" style="display:none"></iframe>-->
    <!--<iframe src="/choose.html"></iframe>-->
    <h1 id="cal-data" ></h1>
    
    <pre id="content" style="white-space: pre-wrap; color: white;"></pre>

    <script type="text/javascript" src="display.js">
        console.log("test");
        GetCalEvents();
    </script>
    <!--<div class="row">-->
    <!--<div style="margin-left: 50%; height: 100px;">
        <button onclick="calendarOnload()" class="btn-6" id="authorize_button">Authorize</button>



        <pre id="content" style="white-space: pre-wrap; color: white;"></pre>

        <button class="btn-6"id="signout_button">Sign Out</button>


    

        <script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script> 

    </div>-->
    <!--</div>-->
</div>

<!--</div>-->
<!--<div class = "col">-->
<!--</div>-->

</body>
