<div class="container-fluid">
    <div class="row rows-2">
        <input class="choice btn-4 col" type="button" value="PDF">
    </div>
    <div class="row rows-2">

        <!--<input onclick="calendarOnload()" class="choice btn-4 col" type="button" value="Calendar" id="calauth">-->
        <input class="choice btn-4 col" type="button" value="Calendar">
        <input class="choice btn-4 col" type="button" value="Spotify Pause/Play">
        <!--<input class="choice btn-4 col" type="button" value="Spotify">-->
        <input class="choice btn-4 col" type="button" value="Discord">
    </div>
    
</div>

<script async defer src="https://apis.google.com/js/api.js"
    onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script> 