<!--<button class="btn-play" id="togglePlay"></button>-->
<script type="text/javascript">
	console.log("goodmorning");
</script>

<!DOCTYPE html>
<html>
<body>
<h2>Spotify</h2>
 
<!-- Uncomment the following iframe tag to see a webpage in the Label Widget -->
<iframe name="Framename" src="https://m.media-amazon.com/images/I/71qVC8cybrL._SX522_.jpg" height="720" frameborder="0" scrolling="no" style="width: 100%;"> </iframe> -->
 
<!-- Uncomment the following iframe tag to see a video in the Label Widget -->
<!-- <iframe src="https://www.youtube.com/embed/DHEFrjDgj2A" height="315"  width="560" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
 
</body>
</html>
