<div id="display-presets" class="row">
    {% if preset['id'] == 1 %}
            <div class="col-sm-6">
                {% include "chungus_display_1.html" %}
            </div>

            <div class="col-sm-6">
                <div id="display-2" class="display-2">
                    {% include "chungus_display_2.html" %}
                </div>
            </div>
    {% elif preset['id'] == 2 %}
            <div class="col-sm-6">
                <div id="display-2" class="display-2">
                    {% include "chungus_display_2.html" %}
                </div>
            </div>

            <div class="col-sm-6">
                {% include "chungus_display_1.html" %}
            </div>
    {% endif %}
</div>
